* {
  margin: 0;
  padding: 0;
}
.main-container {
  width: 1200px;
  justify-content: center;
  align-items: center;
}
:root {
  --maincolor: #212121;
  --secondcolor: #2196f3;
  --thirdcolor: #757575;
  --backgroundcolor: #ececec;
  --black: black;
  --white: #ffffff;
  --logocolor1: #2196f3;
  --logocolor2: black;
  --fontW7: 700;
  --fontW5: 500;
  --hoovercursor: pointer;
}

body {
  font-family: “Roboto”, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--maincolor);
  background-color: var(--backgroundcolor);
  width: 1600px;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
}
h4 a {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: var(--logocolor1);
}
.studio {
  color: var(--logocolor2);
}
.navlink {
  font-weight: var(--fontW5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--maincolor);
}
.navlink:hover,
.navlink:focus {
  color: var(--secondcolor);
  cursor: var(--hoovercursor);
}
.footercontact:hover,
.footercontact:focus {
  color: var(--secondcolor);
  cursor: var(--hoovercursor);
}
.contact {
  font-weight: var(--fontW5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--thirdcolor);
}
.contact:hover,
.navlink:focus {
  color: var(--secondcolor);
  cursor: var(--hoovercursor);
}
h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.orderservice {
  width: 200px;
  height: 50px;
  font-weight: var(--fontW7);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--secondcolor);
  color: var(--white);
}
.advantages {
  font-weight: var(--fontW7);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.description {
  font-size: 14px;
  line-height: 1.7;
  color: var(--thirdcolor);
}
h2 {
  font-weight: var(--fontW7);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.name {
  font-weight: var(--fontW5);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.jobtitle {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--thirdcolor);
}
address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white);
}
.footercontact {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.buttons {
  font-weight: var(--fontW5);
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  width: 121px;
  height: 38px;
}
.buttons:hover,
.buttons.focus {
  color: var(--white);
  background-color: var(--secondcolor);
  cursor: var(--hoovercursor);
}
.workdone {
  font-weight: var(--fontW7);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.workingarea {
  font-size: 16px;
  line-height: 1.9;
  color: var(--thirdcolor);
}
